* {
  padding: 0;
  margin: 0;
}
.wrapper {
  display: flex;
  flex-flow: column;
  background: #ff0000;
  height: 100vh;
  order: 0;
}
.header {
  display: flex;
  flex-direction: column;
  background: #ffffff; // => testing color
  order: 1;
  flex: 1 20%;
  > div {
    // div element styles {div of logo}
    margin: auto;
    margin-top: 1%;
    order: 1;
    flex: 1 60%;
  }
  > div > a > img {
    // logo styles
    width: 16em;
  }
  > div::after {
    // pseudo elemen fot logo
    content: ".SCHEDULE";
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    color: #000000;
  }
}
.navigation {
  background: gold;
  order: 2;
  flex: 1 40%;
  // flex: 0 30%; // flex size of nav element
}
.main-content {
  background: #6daae8; // => testing color
  order: 2;
  flex: 1 60%;
}
.footer {
  background: #000000; // => testing color
  order: 3;
  flex: 1 10%;
}
