* {
  padding: 0;
  margin: 0;
}
.wrapper {
  display: flex;
  flex-flow: column;
  background: #ff0000;
  height: 100vh;
  order: 0;
}
.header {
  display: flex;
  flex-direction: column;
  background: #ffffff; // => testing color
  order: 1;
  flex: 1 20%;
  user-select: none; 
  > div {
    // div element styles {div of logo}
    order: 1;
    flex: 1 70%;
    justify-self: center;
    align-self: center;
  }
  > div > a > img {
    // logo styles
    width: 15em;
    height: 90%; // because ::after is conflicting {need to be 100%}
  }
  > div::after {
    // pseudo elemen fot logo
    content: ".SCHEDULE";
    font: {
      family: Arial, Helvetica, sans-serif;
      weight: bolder;
      size: 1.2em;
    }
    color: #000000;
  }
  > div + nav {
    background: gold;
    order: 2;
    flex: 1 30%;
  }
}
.main-content {
  background: #6daae8; // => testing color
  order: 2;
  flex: 1 60%;
}
.footer {
  background: #000000; // => testing color
  order: 3;
  flex: 1 10%;
}
